<h1>register</h1>
<form action = "/register" method= "POST">
<label for = "email">email</label>
<br>
<input type = "email" name = "email" placeholder="Enter Email">
<br>
<label for = "password">password</label>
<br>
<input type = "password" name = "password" placeholder = "enter your password">
<br>

<button type= "submit">Sign Up</button>

</form>